<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Infomation</title>
</head>
<body style="background: antiquewhite">
<table style="background: aquamarine" border="1">
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
        <td>照片</td>
        <td>时间</td>
    </tr>
    <tr th:each="entity:${pageInfo.list}">
        <td type="hidden" th:text="${entity.id}"></td>
        <td th:text="${entity.name}"></td>
        <td th:text="${entity.sex}"></td>
        <td th:text="${entity.age}"></td>
        <td th:text="${entity.photo}"></td>
        <td th:text="${#dates.format(entity.time,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
</table>

<!--分页-->
<!--<div class="modal-footer no-margin-top">
    <div class="col-md-6 col-xs-8 col-xs-offset-1">
        当前第 [[${pageInfo.pageNum}]]页，共 [[${pageInfo.pages}]] 页， 共 [[${pageInfo.total}]] 条记录
    </div>

    <ul class="pagination pull-right no-margin">
        <li>
            <a th:href="'/index?pageNum=1'">首页</a>
        </li>
        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'/index?pageNum='+${pageInfo.prePage}">
                <i class="ace-icon fa fa-angle-double-left"></i>
            </a>
        </li>
        &lt;!&ndash;遍历条数&ndash;&gt;
        <li th:each="nav:${pageInfo.navigatepageNums}">
            <a th:href="'/index?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
        </li>

        <li class="next" th:if="${pageInfo.hasNextPage}">
            <a th:href="'/index?pageNum='+${pageInfo.nextPage}">
                <i class="ace-icon fa fa-angle-double-right"></i>
            </a>
        </li>
        <li>
            <a th:href="'/index?pageNum='+${pageInfo.pages}">尾页</a>
        </li>
    </ul>
</div>-->


<p>当前 <span style="color: crimson" th:text="${pageInfo.pageNum}"></span> 页,总 <span style="color: crimson"
                                                                                   th:text="${pageInfo.pages}"></span>
    页,共 <span style="color: crimson" th:text="${pageInfo.total}"></span> 条记录</p>
<a style="color: crimson" th:href="@{/xyy/infomation}">首页</a>
<a style="color: crimson" th:href="@{/xyy/infomation(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
<a style="color: crimson" th:href="@{/xyy/infomation(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
<a style="color: crimson" th:href="@{/xyy/infomation(pageNum=${pageInfo.pages})}">尾页</a>


</body>
</html>